#my configuration:

data/

PL3000/

*.o

*.obj

*.htm

*.lst

*.map

*.elf

*.m51

*.lnp
#*.pdf

*._ia

*.yz

PL/PL3000_STM8/Debug/
PL/PL3000_STM8/settings/
PL/PL3000_STM8/Release/
PL/probe project/Objects/
PL/probe project/Listings/
#Obeject files:

*.o

*.obj
*.elf

# Linker output:

*.ilk

*.map

*.exp

data

PL3000
